@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: black;
  color: white;
  overflow: hidden;
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}

/* Video element styling */
video {
  object-fit: cover;
}
